/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}




/* Fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;
}

.clear_both {
    clear: both;
}
ul.no-list {
    list-style: none;
}


.top-bar-right-link {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.8;
  color: #fff;
}
.top-bar-right-link:hover {
  opacity: 1.0;
}
.top-bar-right-link img {
  width: 15px;
  height: 15px;
  opacity: 0.6;
  margin-right: 5px;
}
#navbar, #navbar a {
  font-size: 14px;
  font-weight: 300;
}
#navbar .dropdown li a:hover {
  background: #eee;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #9D9D9D;
    background: none !important;
}

.header {
    position: relative;
    box-shadow: 0px 1px 4px #bbb;
    z-index: 999;
}
.header a:hover {
    text-decoration: none;
}
.header h1 {
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #000;
}
.header h1 strong {
    font-weight: bold;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #d40000;
    font-size: 72px;
}
.header h2 {
    text-align: center;
    color: #555;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
    .header h1 {
        font-size: 36px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
    .header h1 strong {
        font-size: 50px;
    }
}
@media screen and (max-width: 767px) {
    .header h1 {
        font-size: 32px;
        padding: 15px 0px;
        margin-bottom: 5px;
    }
    .header h1 strong {
        font-size: 42px;
    }
}
@media screen and (max-width: 400px) {
    .header h1 {
        font-size: 24px;
        padding-top: 10px;
    }
    .header h1 strong {
        font-size: 32px;
    }
    .header h2 {
        font-size: 18px;
    }    
}

.hr-gradient-right {
    background: url('../images/hr_gradient_right.png') no-repeat center center;
    height: 2px;
    max-width: 700px;
    margin: auto;
}

.description {
    position: relative;
    z-index: 100;
    background: #fff url('../images/desc_bg.jpg') no-repeat right bottom;
    box-shadow: 0px 1px 4px #bbb;
    font-size: 16px;
    overflow: hidden;
}
@media screen and (max-width: 1199px) {
    .description {
        background: #fff url('../images/desc_bg.jpg') no-repeat right bottom;
        background-position: 400px 150px;        
    }
}
@media screen and (max-width: 991px) {
    .description {
        background: #fff;
    }
}
.description h2 {
    max-width: 900px;
    margin: auto;
    font-weight: 100;
    text-align: center;
    margin-top: 30px;
    color: #c94a4a;
    line-height: 1.4em;
}
.description h2 strong {
    text-transform: uppercase;
}
.description h4.desc-comment {
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.2em;
    text-align: center;
}
.description h3 {
  padding-bottom: 20px;
  font-weight: 100;
  font-size: 32px;
}
@media screen and (max-width: 767px) {
    .description h2 {
        font-size: 22px;
    }
    .description h3 {
        font-size: 20px;
    }
    
}
.description .course-image {
    max-width: 300px;
    margin: auto;
}
.description .employment-image {
    max-width: 300px;
    margin: auto;
}
.employment ol li {
    margin: 8px 0px;
}

.description .description-navigation {
    position: relative;
    z-index: 300;
    border-top: 1px solid #d3d3d3;
    background: url('../images/white_50.png');
    margin-top: 20px;
}
.description .description-navigation .bar {
    padding: 20px 0px;
}
@media screen and (max-width: 767px) {
    .description .description-navigation .bar {
        padding-bottom: 0px;
    }
}
.description .description-navigation .nav-button {
    display: table;
    height: 100%;
    border-right: 1px dotted #ccc;
}
@media screen and (max-width: 767px) {
    .description .description-navigation .nav-button {
        width: 100%;
    }
}
.description .description-navigation .nav-button .clear_both {
    display: none;
}
@media screen and (max-width: 767px) {
    .description .description-navigation .nav-button .clear_both {
        display: block;
    }
    .description .description-navigation .nav-button {
        padding-top: 15px;
        padding-bottom: 15px;
        border-right: 0px;
    }
    .description .description-navigation .nav-button:first-child {
        border-bottom: 1px dotted #ccc;
    }
}
.description .description-navigation a {
    display: table-cell;
    color: #777;
    font-size: 20px;
}
.description .description-navigation img {
    float: left;
    margin-right: 10px;
}
.description .image-container img {
    position: absolute;
    z-index: 200;
    margin-top: 20px;
    margin-left: -80px;
}
@media screen and (max-width: 991px) {
    .description .image-container img {
        margin-left: -50px;
    }  
}
@media screen and (max-width: 767px) {
    .description .image-container img {
        display: none;
    }  
}
.small-course-image-container {
    display: none;
    padding-top: 15px;
}
.small-course-image-container img {
    max-width: 250px;
}
@media screen and (max-width: 767px) {
    .small-course-image-container {
        display: block;
    }
}



.agenda {
    background: #f6f6f6;
    font-size: 16px;
    border-bottom: 1px solid #dfdfdf;
}
.agenda table, .employment-details table {
    margin: 10px 0px 20px 0px;
}
.agenda table td, .employment-details table td {
    font-size: 36px;
    font-weight: bold;
    color: #ddd;
    text-align: center;
    vertical-align: middle !important;
    border-top: 0px !important;
}
.agenda .table-responsive, .employment-details .table-responsive {
    border: 0px;
}
.agenda .agenda-step-container, .employment-details .agenda-step-container {
    background: url('../images/agenda-bg.png') no-repeat center center;
    background-size: 80px 80px;
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 32px;
    line-height: 100px;
    color: #fff;
    text-align: center;
}
.agenda h4, .employment-details h4 {
    font-size: 20px;
    font-weight: 500;
}
.employment-details h4 {
  margin-bottom: 15px;
}
.agenda hr {
    border-top: 1px dotted #bbb;
}
.agenda .resume {
    font-size: 18px;
    font-weight: 500;
    border-left: 1px dotted #bbb;
}

.price-container {
    padding: 20px 0px;
    background: #d65858;
    color: #fff;
    font-size: 16px;
}
.price-container h2 {
    margin-bottom: 20px;
}
.price-container strong {
    font-size: 20px;
    text-transform: uppercase;
}
.price-container a {
    color: #fff;
    text-decoration: underline;
}
.price-container a:hover {
    color: #ddd;
}
.price-container .money-back-image-container img {
    opacity: 0.9;
    max-width: 300px;
}
.price-container .money-back-image-small-container {
    display: none;
}
.price-container .money-back-image-small-container img {
    max-width: 250px;
    margin: auto;
}
@media screen and (max-width: 767px) {
    .price-container .money-back-image-container {
        display: none;
    }
    .price-container .money-back-image-small-container {
        display: block;
    }
}

.about-author {
    background: #eee;
    font-size: 16px;
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 0px;
}
.about-author h2 {
    margin-bottom: 20px;
}
.about-author .author-image-container {
    padding-top: 20px;
}
.about-author .author-image-container img {
    max-width: 200px;
}

footer {
    padding-top: 10px;
    font-size: 14px;
    color: #777;
}

.modal-free h3 {
    color: #C94A4A;
}
.modal-buy .modal-body h2 {
    color: #C94A4A;
    text-align: center;
}

/*** Module - mod_survey_stepone ***/
#modalFree fieldset.radio {
    margin-top: 0px;
}
#modalFree fieldset.radio label {
      display: block;
      padding-left: 30px;
      padding-top: 2px;
}
#modalFree fieldset.radio input {
      margin-left: 10px;
}
#modalFree .star {
    color: #C94A4A;
}
#modalFree .close-modal {
    display: none;
}

.modal-body .modal-response {
    display: none;
}

.loader {
    background: url('../images/ajax-loader.gif') no-repeat center center;
    min-height: 30px;
    display: none;
}

.main-content {
    background: #efefef;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.4em;
}
.main-content h4 {
    line-height: 1.4em;
}

.main-content .bar {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 4px #ddd;
}

/*** Login Form ***/
.login form, .reset form, .reset-confirm form, .reset-complete form {
    max-width: 400px;
    margin: auto;
}
.login form .control-label, .reset form .control-label, .reset-confirm form .control-label, .reset-complete form .control-label {
    text-align: left;
}
.login .login-header {
    max-width: 400px;
    margin: auto;  
}
.login-form-links {
    max-width: 400px;
    margin: auto;  
}
.login-form-links ul {
    list-style: none;
    display: table;
    margin: 10px 0px 0px 0px;
    padding: 0px;
}
.login-form-links ul li:first-child {
    border-left: 1px solid #eee;
}
.login-form-links ul li {
    display: table-cell;
    padding: 0px 20px;
    border-right: 1px solid #eee;
}
.login .control-group, .reset .control-group {
    padding: 5px 0px;
}

.course-menu li a small {
    color: #aaa;
    padding-left: 10px;
}

.contact-form .control-label {
    text-align: left;
}
.contact-form .checkbox-left {
    float: left;
    padding: 5px 5px 10px 0px;
}
.create-password {
    max-width: 400px;
    margin: auto;
}
.create-password .control-label {
    text-align: left;  
}
.create-password .control-group {
    padding-top: 10px;
}
.create-password fieldset {
    padding-bottom: 10px;
}

.alert, .tags-container {
    border: 1px solid #ddd;
    border-left: 4px solid #ddd;
    border-radius: 4px;
    padding: 10px 15px;  
}
.alert-error {
    border-left-color: #d40000;
    color: #d40000;
}

.page-header {
    margin-top: 0px;
}

.course-video-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.course-video {
    display: block;
    width: 765px;
    height: 430px;
    margin: auto;
}
@media screen and (max-width: 1199px) {
    .course-video {
        width: 655px;
        height: 368px;
    }
}
@media screen and (max-width: 991px) {
    .course-video {
        width: 490px;
        height: 275px;
    }
}
@media screen and (max-width: 565px) {
    .course-video {
        width: 260px;
        height: 146px;
    }
}

#sidebar .bar {
    padding: 20px 0px;
    max-height: 700px;
    overflow-y: auto;
}
#sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#sidebar ul a {
    display: block;
}
#sidebar ul a:hover {
    text-decoration: none;
}
#sidebar ul a.parent-item::before {
    content: '\25BE\00A0';
    /*content: '\25B8\00A0';*/
}
#sidebar ul a.parent-item.collapsed::before {
    content: '\25B8\00A0';
}
#sidebar li.parent li.parent a {
    font-weight: bold;
    color: #555;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
#sidebar li.parent li.parent li a {
    color: #08C;
    font-weight: 100;
    padding: 5px 15px;
    border-bottom: 0px;
    
}
#sidebar li.parent li.parent li a::before {
    content: "\0BB \020";
}
#sidebar li.parent li.parent li.current.active {
    background: #efefef url('../images/menu-active.png') no-repeat right center;
}
#sidebar li.parent li.parent li a:hover {
    background: #efefef;
}
#sidebar li.parent li.parent li.current.active a:hover {
    background: #efefef url('../images/menu-active.png') no-repeat right center;
}
#sidebar ul.nav.menu a {
    display: block;
    font-size: 14px;
    line-height: 1.3em;
}
#sidebar ul.nav.menu a.top-level {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.download-container {
    margin-top: 20px;
    text-align: left;
}
.download-container a {
    background: url('../images/link-icon-download.png') no-repeat left center;
    background-size: 18px 18px;
    font-size: 14px;
    line-height: 14px;
    padding: 5px 0px 5px 25px;
}

.parent-title {
    border-radius: 4px;
    background: #fafafa;
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.buy-course-bottom {
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
}

/*** Component - com_survey -> stepone ***/
#jform_learn_for {
    margin-top: 0px;
}
#jform_learn_for label {
      display: block;
      padding-left: 30px;
      padding-top: 2px;
}
#jform_learn_for input {
      margin-left: 10px;
}
#jform_learn_for .star {
    color: #C94A4A;
}
